{% extends 'resources/base.html'%}

{% block content%}

<form action="." method="POST"> {% csrf_token %}


   <h1>Sign In</h1>

  {% if messages%}
  {% for message in messages%}
  {{message}}
  {% endfor %}
  {% endif %}

<div class="form-group">
    <label for="username">Username</label>
    {{form.username}}
    {% if form.username.errors %}
        <span class="error">{{ form.username.errors }}</span>
    {% endif %}
  </div>
  <br>
  <div class="form-group">
    <label for="password">Password</label>
    {{form.password}}
    {% if form.password.errors %}
        <span class="error">{{ form.password.errors }}</span>
    {% endif %}
  </div>
  <br><br>
  {% if next %}

  <input type = "hidden" name="next" value="{{next}}">
  
  {% endif %}

  {% comment %} {% if form.errors %}
  {{form.errors}}
  {% endif %} {% endcomment %}
  <button type="submit" class="btn btn-primary">Login</button>



  

</form>

{% endblock %}